html {
	height: 100%;
}
body {
	font-family: Arial;
	background: linear-gradient(#56bfe2, white);
	background-repeat: no-repeat;
	height: 100%;
}

nav.nav {
   width: 100%;
   float: left;
   background: lightblue;
   text-align: center;
   margin-bottom: 15px;
}
nav.nav li {
   font-size: 1.3em;
   padding: 5px;
}
nav.nav a {
   display: block;
   background-color: #b8bbbc;
   font-weight: bold;
   padding: 15px;
   color: black;
}
nav.nav a:link {
   color: black;
   text-decoration: none;
}
nav.nav a:visited {
}
nav.nav a:hover, nav.nav a:focus {
   color: black;
   background-color: white;
}
nav.nav a:active {
   position: relative;
   top: 1px;
   left: 1px;
}
nav li {
	display: inline-block;
}
.container {
	margin-left: 15%;
	margin-right: 15%;
}
div.aboutme img {
	width: 40%;
	float:left;
	margin-right:15px;
	margin-bottom:15px;
}
/* table */
table {
	width: 95%;
	margin: 0 auto;
	border: 3px solid black;
	border-spacing: 0px;
}
th, td {
   border: 1px solid black;
   padding: 0.5em;
}
th {
   background-color: #ddd;
}
td {
	text-align: left;
}
textarea {
	width: 100%;
}

#submit {
    border: 1px solid #999;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #56bfe2;
    border-radius: 0.5em;
	float: right;
	margin: 15px;
}
.contactinfo legend, .additionalinfo legend {
	font-weight: bold;
}
.portfolio iframe {
	margin: 15px;
	width: 300px;
}


